@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #0e7e12;
  box-sizing: border-box;
}
.card {
  display: inline-block;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  height: 400px;
  width: 300px;
  position: relative;
}
.card .number {
  position: relative;
  top: 120px;
  font-size: 80px;
  font-family: "Rubik", sans-serif;
}
.card::before {
  position: absolute;
  /* top: 0px; */
  left: 10px;
  font-size: 80px;
}
.card::after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 80px;
}
.spade::before,
.spade::after {
  content: "\2660";
}
.club::before,
.club::after {
  content: "\2663";
}
.heart::before,
.heart::after {
  content: "\2665";
  color: red;
}
.diamond::before,
.diamond::after {
  content: "\2666";
  color: red;
}
